* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.App-header {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.App-link {
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin-right: 15px;
}

.content {
  min-height: 100vh;
  padding-top: 50px;
  background: rgb(164, 164, 164);
  display: flex;
  justify-content: center;
}

.wrapper {
  min-width: 50%;
  padding: 10px;
  text-align: center;
  overflow: hidden;
}

.wrapper h3 {
  font-size: 30px;
  padding: 15px 0;
}

form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background: #444;
  margin-bottom: 10px;
}

input{
  font-size: 20px;
  background: #f5f6f7;
  padding: 5px 10px;
  border: 1px solid #ff9900;
  border-radius: 10px;
  display: block;
  margin-bottom: 10px;
}

input:focus{
  border: 0;
  outline: 0;
}

form button {
  font-size: 18px;
  background: #ff9900;
  color: #fff;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

form button:hover {
  opacity: 0.8;
}

ul {
  list-style-type: none;
  margin-top: 15px;
}

.blog-item {
  text-align: left;
  padding: 15px;
  background: #444;
  margin-bottom: 15px;
  border-bottom: 1px solid #333333;
}

.blog-item h4 {
  text-transform: capitalize;
  padding: 8px 0;
  cursor: pointer;
  font-size: 22px;
}

.blog-item h4:hover {
  color: rgb(244, 143, 48);
}

.blog-item p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-bottom: 15px;
}

.btn {
  border: 0;
  outline: 0;
  border-radius: 8px;
  padding: 8px 15px;
  color: #fff;
  cursor: pointer;
  margin-right: 15px;
}

.btn:hover {
  opacity: 0.8;
}

.btn.del {
  border: 1px solid #ca0000;
  color: #ca0000;
}

.btn.edit {
  border: 1px solid #09ae22;
  color: #09ae22;
}

.blog-detail {
  text-align: left;
  background-color: #333333;
}

.blog-detail h3 {
  text-align: center;
  text-transform: uppercase;
}

.blog-detail h4 {
  font-size: 25px;
  padding: 15px 0;
}

input[name="comment"] {
  border: 1px solid rgb(255, 255, 255);
}

.comment-item {
  width: max-content;
  min-width: 100px;
  padding: 8px 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(236, 126, 9);
  margin-bottom: 15px;
  border-radius: 15px;
}
